.vacancies-page {
    background-image: url('../../assets/15.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.paragraph p{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px 10px 40px;
    color:black;
}
.vacancy-card-wrapper {
    margin-top: 0px;
    padding-top: 0px;
}

.card-footer2 {
    padding: 15px 20px;
    text-align: center;
}
.apply-btn2 {
    background-color:#007BFF;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
}