.job-status-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 1700px;
  background-image: url('../../assets/15.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
}

.Job-card {
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 1800px;
  box-sizing: border-box;
  overflow-x: auto;
}

.Job-card h2 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  min-width: 600px;
}

thead {
  background-color: #004a99;
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #f0f0f0;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

thead th:first-child {
  border-top-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
}

@media (max-width: 1024px) {
  .job-status-page {
    width: 90%;
    padding: 0px;
  }
  .Job-card {
    padding: 5px;
    width: 90%;
  }
  table {
    font-size: 15px;
    width: 90%;
  }
  th, td {
    padding: 10px 12px;
  }
}

@media (max-width: 768px) {
  .Job-card h2 {
    font-size: 20px;
  }
  table {
    font-size: 12px;
    width: 90%;
  }
  th, td {
    padding: 8px 10px;
  }
}

@media (max-width: 576px) {
  .job-status-page {
    width: 100%;
    padding: 10px; 
    margin-left :20px;
    
  }
  .Job-card {
    padding: 20px;
    border-radius: 12px;
  }
  .Job-card h2 {
    font-size: 18px;
    text-align: center;
  }
  table {
    font-size: 10px;
    min-width: 500px;
  }
  th, td {
    padding: 8px;
  }
}